<?php
// Zabbix GUI configuration file
global $DB;

$DB['TYPE']     = '{{ database_type_long|upper() }}';
$DB['SERVER']   = '{{ server_dbhost }}';
$DB['PORT']     = '{{ server_dbport }}';
$DB['DATABASE'] = '{{ server_dbname }}';
$DB['USER']     = '{{ server_dbuser }}';
$DB['PASSWORD'] = '{{ server_dbpassword }}';

// SCHEMA is relevant only for IBM_DB2 database
$DB['SCHEMA'] = '';

$ZBX_SERVER      = '{{ zabbix_url }}';
$ZBX_SERVER_PORT = '{{ server_listenport }}';
$ZBX_SERVER_NAME = '{{ zabbix_url }}';

$IMAGE_FORMAT_DEFAULT = IMAGE_FORMAT_PNG;
?>
